{
  "openapi": "3.1.0",
  "info": {
    "title": "Laravel",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.crm.laracraft.pl/api"
    }
  ],
  "paths": {
    "/accounts/get/count": {
      "get": {
        "operationId": "get.count",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "pesel",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "nip",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/accounts/{account}": {
      "delete": {
        "operationId": "accounts.destroy",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DeleteTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "get": {
        "operationId": "accounts.show",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowAccountResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "accounts.update",
        "description": "\u26a0\ufe0fCannot generate request documentation: method_exists(): Argument #1 ($object_or_class) must be of type object|string, array given",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/accounts/{account}/restore": {
      "post": {
        "operationId": "account.restore",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/accounts/{account}/get/history": {
      "get": {
        "operationId": "account.history",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/accounts/{account}/get/related/{related}": {
      "get": {
        "operationId": "account.related",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "The account ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "related",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "accounts.index",
        "tags": ["Account"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "pesel",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "nip",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "accounts.store",
        "description": "\u26a0\ufe0fCannot generate request documentation: method_exists(): Argument #1 ($object_or_class) must be of type object|string, array given",
        "tags": ["Account"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "operationId": "addresses.index",
        "tags": ["Address"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addresses.store",
        "tags": ["Address"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/addresses/{address}": {
      "get": {
        "operationId": "addresses.show",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "addresses.update",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "addresses.destroy",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The address ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/addresses/get/postal-codes": {
      "get": {
        "operationId": "get.postal-codes",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postal_code",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostalCodeResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/get/cities": {
      "get": {
        "operationId": "get.cities",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "postal_code",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CityResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/get/streets": {
      "get": {
        "operationId": "get.streets",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "city_id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StreetResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/get/tax-offices": {
      "get": {
        "operationId": "get.tax-offices",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "office_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxAccountResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/get/countries": {
      "get": {
        "operationId": "get.countries",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/addresses/get/provinces": {
      "get": {
        "operationId": "get.provinces",
        "tags": ["Address"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProvinceResource"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/agreements": {
      "get": {
        "operationId": "agreement.index",
        "tags": ["Agreement"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "site",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "content",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "products",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "companies",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "agreement.create",
        "tags": ["Agreement"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/agreements/count": {
      "get": {
        "operationId": "agreement.count",
        "tags": ["Agreement"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "site",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "content",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updated_at",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "products",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "companies",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/agreements/{agreement}": {
      "get": {
        "operationId": "agreement.show",
        "tags": ["Agreement"],
        "parameters": [
          {
            "name": "agreement",
            "in": "path",
            "required": true,
            "description": "The agreement ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowAgreementResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "delete": {
        "operationId": "agreement.destroy",
        "tags": ["Agreement"],
        "parameters": [
          {
            "name": "agreement",
            "in": "path",
            "required": true,
            "description": "The agreement ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "agreement.update",
        "tags": ["Agreement"],
        "parameters": [
          {
            "name": "agreement",
            "in": "path",
            "required": true,
            "description": "The agreement ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analysis-surveys/count": {
      "get": {
        "operationId": "analysis-surveys.count",
        "tags": ["AnalysisSurvey"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analysis-surveys": {
      "get": {
        "operationId": "analysis-surveys.index",
        "tags": ["AnalysisSurvey"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "analysis-surveys.store",
        "tags": ["AnalysisSurvey"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisSurveyStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analysis-surveys/{analysisSurvey}": {
      "get": {
        "operationId": "analysis-surveys.show",
        "tags": ["AnalysisSurvey"],
        "parameters": [
          {
            "name": "analysisSurvey",
            "in": "path",
            "required": true,
            "description": "The analysis survey ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisSurveyResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "analysis-surveys.destroy",
        "tags": ["AnalysisSurvey"],
        "parameters": [
          {
            "name": "analysisSurvey",
            "in": "path",
            "required": true,
            "description": "The analysis survey ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analysis-surveys/{analysis_survey}": {
      "put": {
        "operationId": "analysis-surveys.update",
        "tags": ["AnalysisSurvey"],
        "parameters": [
          {
            "name": "analysis_survey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisSurveyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analyzers": {
      "get": {
        "operationId": "analyzers.index",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "analyzer_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "analyzers.store",
        "tags": ["Analyzer"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAnalyzerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analyzers/count": {
      "get": {
        "operationId": "analyzers.count",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "analyzer_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analyzers/{analyzer}": {
      "get": {
        "operationId": "analyzers.show",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "analyzer",
            "in": "path",
            "required": true,
            "description": "The analyzer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowAnalyzerResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "analyzers.update",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "analyzer",
            "in": "path",
            "required": true,
            "description": "The analyzer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAnalyzerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "analyzers.destroy",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "analyzer",
            "in": "path",
            "required": true,
            "description": "The analyzer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/analyzers/{analyzer}/users": {
      "get": {
        "operationId": "analyzers.users",
        "tags": ["Analyzer"],
        "parameters": [
          {
            "name": "analyzer",
            "in": "path",
            "required": true,
            "description": "The analyzer ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAnalyzerResource"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/{attachment}/send-to-conversion": {
      "get": {
        "operationId": "attachments.",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "The attachment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/{attachment}/to-print-details": {
      "get": {
        "operationId": "attachments.get-to-print-details",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "The attachment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentToPrintDetailsResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/{attachment}/{scope}/{hash}": {
      "put": {
        "operationId": "attachments.update",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "The attachment ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "attachments.destroy",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "The attachment ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/download/{hash}": {
      "get": {
        "operationId": "attachments.download-url",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/preview/{hash}": {
      "get": {
        "operationId": "attachments.preview-url",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/{linkable}/{linkableId}": {
      "get": {
        "operationId": "attachments.get-linkable-attachments",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "linkable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `LinkableAttachmentResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LinkableAttachmentResource"
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/attachments/batch/{scope}/{hash}": {
      "post": {
        "operationId": "attachments.batch",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/mass-delete/{scope}/{hash}": {
      "post": {
        "operationId": "attachments.mass-delete",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MassDeleteAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachments/{attachment}/{action}/{scope}/{hash}": {
      "post": {
        "operationId": "attachments.action",
        "tags": ["Attachment"],
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "The attachment ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionAttachmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachment-directory": {
      "post": {
        "operationId": "attachment-directory.store",
        "tags": ["AttachmentDirectory"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAttachmentDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachment-directory/{attachmentDirectory}": {
      "delete": {
        "operationId": "attachment-directory.destroy",
        "tags": ["AttachmentDirectory"],
        "parameters": [
          {
            "name": "attachmentDirectory",
            "in": "path",
            "required": true,
            "description": "The attachment directory ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/attachment-directory/move-attachments/{scope}/{hash}": {
      "post": {
        "operationId": "attachment-directory.move-attachments",
        "tags": ["AttachmentDirectory"],
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveAttachmentDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachment-types": {
      "get": {
        "operationId": "attachmentType.index",
        "tags": ["AttachmentType"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "english_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "ocr",
            "in": "query",
            "schema": {
              "type": ["integer", "null"],
              "enum": ["0", "1"]
            }
          },
          {
            "name": "projects",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "services",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "attachmentType.store",
        "tags": ["AttachmentType"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAttachmentTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachment-types/count": {
      "get": {
        "operationId": "attachmentType.count",
        "tags": ["AttachmentType"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "english_name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "ocr",
            "in": "query",
            "schema": {
              "type": ["integer", "null"],
              "enum": ["0", "1"]
            }
          },
          {
            "name": "projects",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "services",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/attachment-types/{attachmentType}": {
      "get": {
        "operationId": "attachmentType.show",
        "tags": ["AttachmentType"],
        "parameters": [
          {
            "name": "attachmentType",
            "in": "path",
            "required": true,
            "description": "The attachment type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentTypeIndexResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "attachmentType.update",
        "tags": ["AttachmentType"],
        "parameters": [
          {
            "name": "attachmentType",
            "in": "path",
            "required": true,
            "description": "The attachment type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAttachmentTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "attachmentType.destroy",
        "tags": ["AttachmentType"],
        "parameters": [
          {
            "name": "attachmentType",
            "in": "path",
            "required": true,
            "description": "The attachment type ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/blacklist": {
      "get": {
        "operationId": "blacklist.index",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "request_delete_data",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "by",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/blacklist/get/count": {
      "get": {
        "operationId": "blacklist.count",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "request_delete_data",
            "in": "query",
            "schema": {
              "type": ["boolean", "null"]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "by",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/blacklist/{type}": {
      "post": {
        "operationId": "blacklist.store",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBlacklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistShowResource"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/blacklist/{id}/{type}": {
      "put": {
        "operationId": "blacklist.update",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBlacklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistShowResource"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "blacklist.delete",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DeleteTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "get": {
        "operationId": "blacklist.show",
        "tags": ["Blacklist"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistShowResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/cache": {
      "get": {
        "operationId": "cache.index",
        "tags": ["Cache"],
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "schema": {
              "type": ["string", "null"],
              "minLength": 3
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "string"
                    }
                  },
                  "required": ["keys"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "cache.destroy",
        "tags": ["Cache"],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/cache/all": {
      "delete": {
        "operationId": "cache.destroyAll",
        "tags": ["Cache"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/campaigns/count": {
      "get": {
        "operationId": "campaigns.count",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CampaignTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "campaign.index",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CampaignTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "campaign.store",
        "tags": ["Campaign"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/campaigns/{campaign}": {
      "get": {
        "operationId": "campaign.show",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "The campaign ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "campaign.update",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "The campaign ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "campaign.destroy",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "The campaign ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/campaign_groups": {
      "get": {
        "operationId": "campaignGroup.index",
        "tags": ["CampaignGroup"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "campaigns",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "hex_color",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "campaignGroup.store",
        "tags": ["CampaignGroup"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCampaignGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/campaign_groups/count": {
      "get": {
        "operationId": "campaignGroup.count",
        "tags": ["CampaignGroup"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "name": "campaigns",
            "in": "query",
            "schema": {
              "type": ["array", "null"],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": ["integer", "null"]
            }
          },
          {
            "name": "hex_color",
            "in": "query",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
[...]
